<!DOCTYPE html>
<html>
  <head>
    <title>Redis Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <br/>
      <%= render 'errors/error_messages' %>
      <% if logged_in? %>
        <ul class="nav navbar-right ">
          <li><%= link_to "Log out", logout_path, class: "mx-2", method: :delete %></li>
        </ul>
      <% else %>
        <p>
          Sign up or <%= link_to "Log in", login_path %> to test the app.
        <p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
