<!DOCTYPE html>
<html>
  <head>
    <title>Redis Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar mb-2">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign up", signup_path %></li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <br/>
      <%= render 'errors/error_messages' %>
      <p>
        Please signup or login to test the app.
      <p>
      <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
      <%= yield %>
    </div>
  </body>
</html>
